.layout {
  padding-top: 100px;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  @include media-breakpoint-up(xxl) {
    padding-top: 250px;
  }
}

.btn {
  font-size: 60px;
  font-weight: 700;
  border: solid 3px #fff;
  border-radius: 20px;
  box-shadow: 6.3px 7.8px 0 0 #98d3f3;
  padding: 0 54px;
  text-transform: uppercase;
  &.btn-primary {
    background-color: $blue;
  }
}
