.formulaire {
  form {
    .input-container {
      margin: auto;
      max-width: 250px;
    }
    input,
    label {
      &:not([type="checkbox"]) {
        background-color: white;
        width: 100%;
        border: none;
        margin-bottom: 10px;
        padding: 7px;
        text-align: left;
        color: #565656;
        &::placeholder {
          color: #565656;
        }
      }
      &[type="file"] {
        display: none;
      }
    }
    p {
      text-align: left;
      color: white;
      line-height: 12px;
      margin-bottom: 5px;
      font-size: 9px;
      &.orange {
        color: #f7c700;
      }
    }
    .checkbox {
      margin: 10px 0 10px 40px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      input {
        flex: 0 0 15px;
        height: 15px;
      }

      label {
        background-color: transparent;
        color: white;
        margin-left: 5px;
        margin-bottom: 0;
        padding: 0;
        font-size: 9px;
      }
    }
  }
}
