.navbar {
  background-color: $blue-light;
  @include media-breakpoint-up(md) {
    background-color: $blue;
  }
  .navbar-toggler {
    border: none;
    &:focus {
      border: none;
    }
  }
  .navbar-collapse {
    justify-content: center;
    .navbar-nav {
      @include media-breakpoint-up(md) {
        transform: translateX(60px);
      }
      @include media-breakpoint-up(xxl) {
        transform: translateX(90px);
      }
      .nav-item {
        display: flex;
        align-items: center;
        .nav-link {
          color: white;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          @include media-breakpoint-up(md) {
            padding-left: 5px;
            padding-right: 5px;
          }
          @include media-breakpoint-up(xxl) {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 20px;
          }
          img {
            width: 25px;
            @include media-breakpoint-up(xxl) {
              width: 40px;
            }
          }
        }
      }
      .space {
        display: none;
        @include media-breakpoint-up(md) {
          display: block;
          width: 240px;
        }
        @include media-breakpoint-up(xxl) {
          width: 550px;
        }
      }
    }
  }
}

.brand-logo {
  position: relative;
  margin: 0 auto -130px;
  display: block;
  width: 388px;
  max-width: 100%;
  @include media-breakpoint-up(md) {
    width: 258px;
    margin: -60px auto;
  }
  @include media-breakpoint-up(xxl) {
    width: 668px;
    margin: -60px auto -185px;
  }
}
