.layout {
  background-color: $blue-light;
  min-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  @include media-breakpoint-up($md) {
    background-image: url("../assets/imgs/bg-tablet.jpg");
    background-size: cover;
    background-position: center;
  }
}

.brand-logo {
  max-width: 100%;
  z-index: 1;
  width: 388px;
  margin: 0 auto 20px;
  padding: 0 15px;
  @include media-breakpoint-up($md) {
    width: 258px;
  }
  @include media-breakpoint-up($xxl) {
    width: 332px;
  }
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  border: solid 3px #fff;
  border-radius: 20px;
  box-shadow: 6.3px 7.8px 0 0 #1aa1f3;
  padding: 0 45px;
  text-transform: uppercase;
  &.btn-primary {
    background-color: $blue;
  }
}
