.modal-btn {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  color: white;
  background-color: $red;
  display: inline-block;
  cursor: pointer;
  margin-left: 3px;
  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    div {
      font-size: 8px;
      font-weight: 700;
    }
  }
}

.modal {
  .modal-content {
    text-align: center;
    padding: 40px 60px;
    .close-btn {
      cursor: pointer;
      position: absolute;
      top: -20px;
      right: -17px;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
    }
    p {
      font-size: 20px;
    }
  }
}
