.home {
  @include media-breakpoint-up($xxl) {
    background-image: url("../assets/imgs/bg-home.jpg");
    background-size: cover;
    background-position: right;
  }
  .brand-logo {
    @include media-breakpoint-up($xxl) {
      width: 500px;
    }
  }
}
