.home {
  @include pageBackground("../assets/imgs/bg-home.jpg");
  background-position: right;
  .brand-logo {
    @include media-breakpoint-up($xl) {
      width: 500px;
    }
  }
  .a-gagner-container {
    @include media-breakpoint-up($xxl) {
      position: relative;
      top: -130px;
      right: -130px;
    }
  }
}
