.question-2 {
  @include pageBackground("../assets/imgs/bg-question-2.jpg");
  .questions-container {
    position: relative;
    img {
      width: 200px;
      margin: 15px 0;
      @include media-breakpoint-up($md) {
        margin: 0 15px;
      }
      @include media-breakpoint-up($xxl) {
        width: 200px;
      }
    }
  }
  .mamie {
    display: none;
    @include media-breakpoint-up($xxl) {
      display: block;
      bottom: 40px;
      left: -200px;
      bottom: -143px;
      width: 150px;
      position: absolute;
    }
  }
}
