.question-1 {
  @include pageBackground("../assets/imgs/bg-question-1.jpg");
  h1,
  p {
    text-align: center;
  }
  input {
    cursor: pointer;
  }
  label {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .no-code-img {
    width: 40%;
  }
}
