.question-2 {
  @include media-breakpoint-up($md) {
    background-image: url("../assets/imgs/bg-tablet-question-2.jpg");
    background-size: cover;
    background-position: center;
  }
  @include pageBackground("../assets/imgs/bg-question-2.jpg");
  .questions-container {
    position: relative;
    img {
      width: 200px;
      margin: 15px 0;
      @include media-breakpoint-up($md) {
        margin: 0 15px;
      }
      @include media-breakpoint-up($xl) {
        width: 200px;
      }
    }
  }
  .mamie {
    display: none;
    @include media-breakpoint-up($xl) {
      display: block;
      width: 250px;
      position: fixed;
      bottom: 28px;
      left: 50%;
      transform: translateX(-50%);
      margin-left: -440px;
    }
  }
}
